mixin head(title)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(name='image', content='https://offer.fitato.fit/assets/img/meta-offer.jpg')
    meta(itemprop='name', content=title)
    meta(itemprop='description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(itemprop='image', content='https://offer.fitato.fit/assets/img/meta-offer.jpg')
    meta(name='apple-itunes-app', content='app-id=1300323768')
    meta(name='google-play-app', content='app-id=fit.fitato.health')
    meta(name='twitter:card', content='app')
    meta(name='twitter:title', content=title)
    meta(name='twitter:description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(name='twitter:site', content='@FitatoFit')
    meta(name='twitter:creator', content='@FitatoFit')
    meta(name='twitter:image:src', content='https://offer.fitato.fit/assets/img/meta-offer.jpg')
    meta(name='twitter:app:id:iphone', content='1300323768')
    meta(name='twitter:app:name:iphone', content='Fitato')
    meta(name='twitter:app:id:googleplay', content='fit.fitato.health')
    meta(name='twitter:app:name:googleplay', content='Fitato: One Pass to Fitness')
    meta(property='og:title', content=title)
    meta(property='og:description', content='A fitness membership tailored to you. The best facilities, exciting events, and the country’s fastest-growing fitness community. Come, be a part of the revolution!')
    meta(property='og:image', content='https://offer.fitato.fit/assets/img/meta-offer.jpg')
    meta(property='og:url', content='https://www.fitato.fit')
    meta(property='og:site_name', content='Fitato')
    meta(property='og:type', content='website')
    meta(name='al:ios:app_store_id', content='1300323768')
    meta(name='al:ios:app_name', content='Fitato')
    meta(name='al:android:package', content='fit.fitato.health')
    meta(name='al:android:app_name', content='Fitato: One Pass to Fitness')
    title=title
    script.
      !function(e,t,a,n,g){e[n]=e[n]||[],e[n].push({"gtm.start":(new Date).getTime(),event:"gtm.js"});var m=t.getElementsByTagName(a)[0],r=t.createElement(a);r.async=!0,r.src="https://www.googletagmanager.com/gtm.js?id=GTM-M6HNZB",m.parentNode.insertBefore(r,m)}(window,document,"script","dataLayer");
    link(rel='shortcut icon', type='image/png', href='https://www.fitato.fit/static/fitato-icon-16.png')
    link(rel='apple-touch-icon', href='https://www.fitato.fit/static/fitato-icon-57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='https://www.fitato.fit/static/fitato-icon-72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='https://www.fitato.fit/static/fitato-icon-114.png')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900,900i', rel='stylesheet')
    link(rel='stylesheet', href='/assets/css/style.css')